.background_image {
    background: url("C:\Users\admin\Desktop\Курсова.2.0\client\public\images\intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}